.scenarios__add {
	display: flex;
	flex-direction: column;
	align-items: center;
	&-button {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
		background: #1acd81;
		border-radius: 8px;
		padding: 8px;
		transition: all .15s ease-in-out;
		& > span {
			font-size: 16px;
			color: #03301f;
		}
		&:hover {
			background: #0fa968;
			cursor: pointer;
		}
	}
	&-input > input {
		background: #180c69;
		border: 0.80px solid #361bc3;
		border-radius: 8px;
		padding: 9px 12px;
		width: 100%;
		height: 32px;
		color: #fff;
		outline: none;
		font-size: 16px;
		&::placeholder {
			color: #B3B3B3;
			font-size: 12.8px;
		}
	}
	&-input > div {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-top: 6.4px;
		& > button {
			font-size: 16px;
			border-radius: 8px;
			padding: 8px;
			width: 100px;
			height: 32px;
			background: #1acd81;
			transition: all .15s ease-in-out;
			color: #03301f;
			&:hover {
				background: #0fa968;
				cursor: pointer;
			}
		}
	}
}