@mixin flexRowCenter {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.tasks__tasks-list {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 15px;
	width: 530px;
}
.tasks-list {
	&__task {
		@include flexRowCenter;
		justify-content: space-between;
		background: #11563a;
		border: 0.8px solid #43e5a0;
		border-radius: 8px;
		padding: 0px 10px 0px 8px;
		width: 100%;
		height: 40px;
	}
}
.task-left,
.task-right {
	@include flexRowCenter;
	justify-content: space-between;
	gap: 5px;
	& > button {
		height: 24px;
		&:hover {
			cursor: pointer;
		}
	}
	&__body {
		width: 300px;
		overflow: hidden;
	}
	&__text {
		position: relative;
		display: flex;
		flex-direction: row-reverse;
		font-size: 16px;
		white-space: nowrap;
		font-family: 'Inter';
		animation-duration: 5s;
		animation-name: slide;
	}
	@keyframes slide {
		0% {
			transform: translateX(0%);
		}
		20% {
			transform: translateX(-100%);
		}
		40% {
			display: none;
		}
		60% {
			transform: translateX(100%);
		}
		80% {
			display: block;
		}
		100% {
			transform: translateX(0%);
		}
	}
	&__data {
		font-size: 13px;
	}
}