.todo__warning {
	display: flex;
	position: absolute;
	flex-direction: column;
	align-items: center;
	height: min-content;
	width: min-content;
	z-index: 1;
	background: rgba(17, 86, 58, 0.7);
	border: 0.8px solid rgba(67, 229, 159, 0.7);
	border-radius: 8px;
	padding: 10px 0;
	&-title {
		font-size: 18px;
		font-weight: 500;
		color: #fff;
		padding-bottom: 15px;
	}
	&-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: max-content;
		gap: 10px;
		& > span {
			font-size: 16px;
			width: 85%;
			text-align: center;
		}
		& > div {
			display: flex;
			flex-direction: row;
			justify-content:space-between;
			gap: 10%;
			& > button {
				font-size: 16px;
    			color: #03301f;
				background: #1acd81;
				padding: 8px 12px;
				border-radius: 8px;
	    		transition: all 0.15s ease-in-out;
				&:hover {
					background: #0fa968;
					cursor: pointer;
				}
			}
		}
	}
}