@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.todo__main-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-left: 10px solid #43e5a0;
  border-radius: 20px;
  height: 700px;
  padding: 0 200px;
  -webkit-backdrop-filter: blur(150px);
          backdrop-filter: blur(150px);
  background: rgba(3, 48, 31, 0.01);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
}

.todo__content {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-top: 45px;
}

.items-list__item-button,
.items-list__item-button-created {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 185px;
  height: 32px;
  padding: 8px 7px;
  gap: 10px;
  transition: all 0.1s ease-in;
  border-radius: 5px;
}
.items-list__item-button > div, .items-list__item-button > div > div,
.items-list__item-button-created > div,
.items-list__item-button-created > div > div {
  display: flex;
  justify-content: start;
  width: 150px;
  overflow: hidden;
}
.items-list__item-button.animated > div > span, .items-list__item-button.animated > div > div > span,
.items-list__item-button-created.animated > div > span,
.items-list__item-button-created.animated > div > div > span {
  animation-duration: 10s;
  animation-name: slide;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  53% {
    transform: translateX(-125%);
    opacity: 1;
  }
  54% {
    opacity: 0;
  }
  61% {
    transform: translateX(110%);
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
.items-list__item-button > img,
.items-list__item-button-created > img {
  width: 16px;
  height: 16px;
}
.items-list__item-button > span, .items-list__item-button > div > span, .items-list__item-button > div > div > span,
.items-list__item-button-created > span,
.items-list__item-button-created > div > span,
.items-list__item-button-created > div > div > span {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  font-size: 16px;
  white-space: nowrap;
  font-family: "Inter";
  color: #fff;
}
.items-list__item-button:hover, .items-list__item-button.item-active,
.items-list__item-button-created:hover,
.items-list__item-button-created.item-active {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.item-button-created__prepend {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  width: 185px;
}

.items-list__item-button-created {
  display: flex;
  gap: 0;
  justify-content: space-between;
}
.items-list__item-button-created > img {
  opacity: 0;
}
.items-list__item-button-created:hover div > span {
  max-width: 130px;
}
.items-list__item-button-created:hover > img {
  transition: all 0.1s ease-in-out;
  opacity: 1;
}
.items-list__item-button-created.item-active > img {
  transition: all 0.1s ease-in-out;
  opacity: 1;
}

.scenarios__add {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scenarios__add-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background: #1acd81;
  border-radius: 8px;
  padding: 8px;
  transition: all 0.15s ease-in-out;
}
.scenarios__add-button > span {
  font-size: 16px;
  color: #03301f;
}
.scenarios__add-button:hover {
  background: #0fa968;
  cursor: pointer;
}
.scenarios__add-warning {
  text-align: center;
  font-size: 13px;
  color: #ff0000;
}
.scenarios__add-input > input {
  background: #180c69;
  border: 0.8px solid #361bc3;
  border-radius: 8px;
  padding: 9px 12px;
  width: 100%;
  height: 32px;
  color: #fff;
  outline: none;
  font-size: 16px;
}
.scenarios__add-input > input::-moz-placeholder {
  color: #B3B3B3;
  font-size: 12.8px;
}
.scenarios__add-input > input::placeholder {
  color: #B3B3B3;
  font-size: 12.8px;
}
.scenarios__add-input > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 6.4px;
}
.scenarios__add-input > div > button {
  font-size: 16px;
  border-radius: 8px;
  padding: 8px;
  width: 100px;
  height: 32px;
  background: #1acd81;
  transition: all 0.15s ease-in-out;
  color: #03301f;
}
.scenarios__add-input > div > button:hover {
  background: #0fa968;
  cursor: pointer;
}

.todo__scenarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 215px;
  height: -moz-max-content;
  height: max-content;
}

.scenarios__title {
  font-size: 21px;
  padding-bottom: 8px;
}
.scenarios__items-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 15px 15px 20px 15px;
  background: rgba(16, 133, 84, 0.6);
  gap: 7px;
  max-height: 300px;
  overflow-y: overlay;
  overflow-x: hidden;
}
.scenarios__items-list::-webkit-scrollbar {
  background: none;
  width: 5px;
}
.scenarios__items-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #1acd81;
  outline: 0.8px solid #43e5a0;
}

.tasks__tasks-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 530px;
}

.tasks-list__task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #11563a;
  border: 0.8px solid #43e5a0;
  border-radius: 8px;
  padding: 0px 10px 0px 8px;
  width: 100%;
  height: 40px;
}
.tasks-list__task.animated > div > div > span {
  animation-duration: 12.5s;
  animation-name: slide;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  53% {
    transform: translateX(-125%);
    opacity: 1;
  }
  54% {
    opacity: 0;
  }
  61% {
    transform: translateX(110%);
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}

.task-left,
.task-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.task-left > button,
.task-right > button {
  height: 24px;
}
.task-left > button:hover,
.task-right > button:hover {
  cursor: pointer;
}
.task-left__body,
.task-right__body {
  display: flex;
  justify-content: start;
  width: 300px;
  overflow: hidden;
}
.task-left__text,
.task-right__text {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  font-size: 16px;
  white-space: nowrap;
  font-family: "Inter";
}
.task-left__data,
.task-right__data {
  font-size: 13px;
}

.tasks__completed-tasks-list {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.tasks__completed-tasks-list > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #11563a;
  border: 0.8px solid #43e5a0;
  border-radius: 8px;
  padding: 0px 10px 0px 14px;
  width: 500px;
  height: 40px;
}
.tasks__completed-tasks-list > div.animated > div > span {
  animation-duration: 12.5s;
  animation-name: slide;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  53% {
    transform: translateX(-125%);
    opacity: 1;
  }
  54% {
    opacity: 0;
  }
  61% {
    transform: translateX(110%);
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
.tasks__completed-tasks-list > div > div {
  display: flex;
  justify-content: start;
  width: 400px;
  overflow: hidden;
}
.tasks__completed-tasks-list > div > div > span {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  white-space: nowrap;
}
.tasks__completed-tasks-list > div > button {
  height: 22px;
}
.tasks__completed-tasks-list > div > button:hover {
  cursor: pointer;
}

.todo__tasks {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
  height: -moz-max-content;
  height: max-content;
}

.tasks__bottom {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  max-height: 431px;
  overflow-y: overlay;
  overflow-x: hidden;
  padding-right: 10px;
}
.tasks__bottom::-webkit-scrollbar {
  background: none;
  width: 5px;
}
.tasks__bottom::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #1acd81;
  outline: 0.8px solid #43e5a0;
}

.tasks__title {
  font-size: 21px;
}
.tasks__add-task {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.tasks__add-task > input {
  background: #180c69;
  border: 0.8px solid #361bc3;
  border-radius: 8px;
  padding: 9px 12px;
  width: 400px;
  height: 40px;
  color: #fff;
  outline: none;
  font-size: 16px;
}
.tasks__add-task > input::-moz-placeholder {
  color: #B3B3B3;
  font-size: 12.8px;
}
.tasks__add-task > input::placeholder {
  color: #B3B3B3;
  font-size: 12.8px;
}
.tasks__add-task > button {
  font-size: 16px;
  border-radius: 8px;
  padding: 8px;
  width: -moz-max-content;
  width: max-content;
  height: 40px;
  background: #1acd81;
  transition: all 0.15s ease-in-out;
  color: #03301f;
  margin-left: -18px;
}
.tasks__add-task > button:hover {
  background: #0fa968;
  cursor: pointer;
}
.tasks__sort-delete, .tasks__completed-tasks {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
}
.tasks__sort-delete > button, .tasks__completed-tasks > button {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
.tasks__sort-delete > button > span, .tasks__completed-tasks > button > span {
  font-size: 14px;
  color: #fff;
}
.tasks__sort-delete > button:hover, .tasks__completed-tasks > button:hover {
  transition: all 1.5s ease-in-out;
  cursor: pointer;
}

@media screen and (width <= 1500px) {
  .todo__main-block {
    padding: 0 150px;
  }
}
@media screen and (width <= 1450px) {
  .todo__title {
    margin-bottom: 30px;
    font-size: 32px;
  }
}
@media screen and (width <= 1350px) {
  .todo__main-block {
    height: 600px;
    padding: 0 100px;
  }
}
@media screen and (width <= 1150px) {
  .todo__main-block {
    height: 600px;
    padding: 0 80px;
  }
  .tasks__add-task > input {
    width: 350px;
  }
  .tasks__bottom {
    max-height: none;
    padding-right: 0;
  }
}
@media screen and (width <= 1050px) {
  body {
    align-items: flex-start !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .todo {
    padding-bottom: 60px;
  }
  .todo__content {
    flex-direction: column;
    align-items: center;
  }
  .todo__main-block {
    height: -moz-max-content;
    height: max-content;
  }
  .tasks__title {
    margin: 0 auto;
  }
  .tasks__tasks-list {
    width: 480px;
  }
  .task-left__body {
    width: 250px;
  }
  .tasks__completed-tasks-list > div {
    width: 450px;
  }
  .tasks__completed-tasks-list > div > div {
    width: 350px;
  }
  .todo__scenarios {
    width: calc(100% - 150px);
  }
  .scenarios__items-list {
    width: 75%;
    gap: 15px;
    max-height: none;
  }
  .scenarios__add-warning {
    width: 75%;
  }
  .items-list__item-button, .items-list__item-button-created {
    width: 90%;
  }
  .todo__tasks {
    padding-bottom: 30px;
  }
}
@media screen and (width <= 710px) {
  .tasks__tasks-list {
    width: 400px;
  }
  .task-left__body {
    width: 180px;
  }
  .tasks__completed-tasks-list > div {
    width: 370px;
  }
  .tasks__add-task > input {
    width: 270px;
  }
  .todo__scenarios {
    width: calc(100% - 70px);
  }
  body .todo__title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .todo {
    padding-bottom: 50px;
  }
}
@media screen and (width <= 650px) {
  .todo__main-block {
    padding: 0 50px;
  }
}
@media screen and (width <= 550px) {
  .item-button__text, .scenarios__add-button > span, .tasks__add-task > input, .tasks__add-task > button, .task-left__text, .task-right__text, .tasks__completed-tasks-list > div > div > span, .items-list__item-button-created > div > div > span {
    font-size: 14px !important;
  }
  .tasks__add-task > input, .tasks__add-task > button {
    height: 35px;
  }
  .tasks__sort-delete > button > span, .tasks__completed-tasks > button > span, .task-right__data {
    font-size: 12px;
  }
  .tasks__completed-tasks-list > div > div {
    width: 200px;
  }
  .todo__main-block {
    padding: 0 30px;
  }
  .todo__content {
    gap: 75px;
  }
}
@media screen and (width <= 500px) {
  .todo__main-block {
    padding: 0 25px;
  }
  .tasks__tasks-list {
    width: 350px;
  }
  .task-left__body {
    width: 130px;
  }
  .tasks__completed-tasks-list > div {
    width: 320px;
  }
  .tasks__add-task > input {
    width: 220px;
  }
  .todo__scenarios {
    width: calc(100% - 50px);
  }
}
@media screen and (width <= 450px) {
  .tasks__tasks-list {
    width: 300px;
  }
  .task-left__body {
    width: 90px;
  }
  .tasks__completed-tasks-list > div {
    width: 270px;
  }
  .tasks__add-task > input {
    width: 190px;
  }
  .todo__scenarios {
    width: calc(100% - 40px);
  }
}
@media screen and (width <= 420px) {
  .tasks__tasks-list {
    width: 270px;
  }
  .task-left__body {
    width: 75px;
  }
  .tasks__completed-tasks-list > div {
    width: 240px;
  }
  .tasks__add-task > input {
    width: 190px;
  }
  .todo__scenarios {
    width: calc(100% - 30px);
  }
  .item-button__text, .scenarios__add-button > span, .tasks__add-task > input, .tasks__add-task > button, .task-left__text, .task-right__text, .tasks__completed-tasks-list > div > div > span, .items-list__item-button-created > div > div > span {
    font-size: 12px !important;
  }
  .tasks__add-task > input, .tasks__add-task > button {
    height: 30px;
  }
  .tasks__sort-delete > button > span, .tasks__completed-tasks > button > span, .task-right__data {
    font-size: 10px;
  }
  .todo__main-block {
    padding: 0 15px;
  }
  .tasks__completed-tasks-list > div > div {
    width: 180px;
  }
  .todo__content {
    margin-top: 30px;
  }
}
@media screen and (width <= 385px) {
  .tasks__tasks-list {
    width: 240px;
  }
  .task-left__body {
    width: 60px;
  }
  .tasks__completed-tasks-list > div {
    width: 210px;
  }
  .tasks__add-task > input {
    width: 190px;
  }
  .todo__scenarios {
    width: calc(100% - 30px);
  }
  .item-button__text, .scenarios__add-button > span, .tasks__add-task > input, .tasks__add-task > button, .task-left__text, .task-right__text, .tasks__completed-tasks-list > div > div > span, .items-list__item-button-created > div > div > span {
    font-size: 10px !important;
  }
  .tasks__add-task > input, .tasks__add-task > button {
    height: 25px;
  }
  .tasks__sort-delete > button > span, .tasks__completed-tasks > button > span, .task-right__data {
    font-size: 8px;
  }
  .todo__main-block {
    padding: 0 10px;
  }
  .tasks__completed-tasks-list > div > div {
    width: 150px;
  }
  .todo {
    padding-bottom: 45px;
  }
  .todo__content {
    gap: 40px;
  }
}
@media screen and (width <= 370px) {
  .tasks__tasks-list {
    width: 220px;
  }
  .task-left__body {
    width: 45px;
  }
  .tasks__completed-tasks-list > div {
    width: 190px;
  }
  .tasks__add-task > input {
    width: 190px;
  }
  .todo__scenarios {
    width: calc(100% - 50px);
  }
  .item-button__text, .scenarios__add-button > span, .tasks__add-task > input, .tasks__add-task > button, .task-left__text, .task-right__text, .tasks__completed-tasks-list > div > div > span, .items-list__item-button-created > div > div > span {
    font-size: 8px !important;
  }
  .tasks__add-task > input, .tasks__add-task > button {
    height: 20px;
  }
  .tasks__sort-delete > button > span, .tasks__completed-tasks > button > span, .task-right__data {
    font-size: 7px;
  }
  .todo__main-block {
    padding: 0 8px;
  }
  .tasks__completed-tasks-list > div > div {
    width: 130px;
  }
  .todo {
    padding-bottom: 35px;
  }
  .todo__content {
    gap: 35px;
  }
}
@media screen and (height <= 900px) {
  .todo__main-block {
    padding-bottom: 15px;
  }
  #app .todo__title {
    font-size: 32px;
    margin-bottom: 30px;
  }
  .todo {
    position: relative;
    padding-bottom: 60px;
    top: 50px;
  }
  body {
    align-items: flex-start !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    flex-direction: row !important;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(../assets/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
body::-webkit-scrollbar {
  background: #272727;
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #1acd81;
  outline: 0.8px solid #43e5a0;
}

button {
  border: 0;
  background: none;
  padding: 0;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo__title {
  margin-bottom: 45px;
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */